.header {
  position: relative;
  z-index: 999;
  display: flex;
  width: calc(100% - 2.5rem);
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.header a {
  z-index: 999;
}

.header button {
  z-index: 999;
  height: 3rem;
  width: 3rem;
  background: transparent;
  border: 2px solid var(--color-elements);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header button span {
  display: block;
  height: .75rem;
  width: .75rem;
  background: var(--color-elements);
}


@media (width <  52.5rem) {
  .header > a > svg{
    width: 3.75rem;
    height: 1.8125rem;
  }

  .header button {
    height: 2rem;
    width: 2rem;
  }
  
  .header button span {
    height: .5rem;
    width: .5rem;
  }
}