.container {
  --width: 5rem;
  --height: 5rem;
  --quantity: 10;
}

.containerSobre {
  display: grid;
  gap: 4rem;
  grid-template-columns: 200px 1fr 200px;
}

.containerInfos {
  grid-column: 2;
  display: flex;
  gap: 2.5rem;
}

.containerImage {
  border: 2px solid var(--color-elements);
  width: 440px;
  height: 440px;
}

.containerText {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.containerImage img {
  object-fit: cover;
  filter: grayscale(100%);
  width: 440px;
  height: 440px;
}

.containerTecnologias {
  grid-column: 2;
}

.containerTecnologias > div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 3rem;
  grid-column: 1;
}

.containerTecnologias div h1 {
  font-family: "DevilBreezeMedium";
  font-size: 6rem;
}

.slider {
  width: 100%;
  overflow: hidden;
  height: var(--height);
  mask-image: linear-gradient(
    to right,
    transparent,
    var(--color-elements) 10% 90%,
    transparent
  );
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  right: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) ) ;
}

.slider .list .item img,
.slider .list .item svg {
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes autoRun {
  from{
    right: 100%;
  }
  to {
    right: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
}


@media (height < 52.5rem) {
  .containerImage, .containerImage img {
    width: 340px;
    height: 340px;
  }

  .container {
    --width: 4rem;
    --height: 4rem;
  }

  .containerTecnologias div h1 {
    font-family: "DevilBreezeMedium";
    font-size: 4rem;
  }
}

@media (width < 87.5rem) {
  .container {
    overflow: hidden;
  }
  .containerSobre {
    gap: 2rem;
    grid-template-columns: 100px 1fr 100px;
  }

  .containerImage {
    display: none;
  }
}

@media (width < 56.25rem) {
  .containerSobre {
    gap: 2rem;
    grid-template-columns: 40px 1fr 40px;
  }
  .containerTecnologias div h1 {
    display: none;
  }

  .container {
    --width: 2.5rem;
    --height: 2.5rem;
  }
}

@media (width < 37.5rem) {
  .containerSobre {
    gap: 1.5rem;
    grid-template-columns: 20px 1fr 20px;
  }

  .containerText {
    font-size: .875rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --width: 2rem;
    --height: 2rem;
  }
}

@media(width < 28.75rem) {
  .containerSobre {
    gap: 0rem;
    grid-template-columns: 1fr;
  }

  .containerInfos {
    width: 280px;
    padding-left: 20px;
  }

  .text {
    display: none;
  }

  .containerTecnologias {
    margin-top: 20px;
  }
}