html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face{
  font-family: "OpenSansSemibold";
  src:local("OpenSans-SemiBold"),
  url('./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') 
}

@font-face{
  font-family: "OpenSansBold";
  src:local("OpenSans-Bold"),
  url('./assets/fonts/Open_Sans/OpenSans-Bold.ttf') 
}

@font-face{
  font-family: "DevilBreezeMedium";
  src:local("Devil-Breeze-Medium"),
  url('./assets/fonts/Devil_Breeze/Devil-Breeze-Medium.ttf') 
}

:root {
  --color-background: #fff;
  --color-elements: #000;
}



body.dark {
  --color-background: #000;
  --color-elements: #fff;
}

a {
  text-decoration: none;
  color: var(--color-elements);
  transition: color 0.3s ease;
}

body {
  overflow-x: hidden;
  font-family: "OpenSansSemibold";
  font-size: 1rem;
  background-color: var(--color-background);
  color: var(--color-elements);
  transition: background-color 0.3s ease, color 0.3s ease;
}


.container {
  margin: 2.5rem;
  position: relative;
  height: calc(100dvh - 84px);
  border: 2px solid var(--color-elements);
}

.linkdin {
  position: absolute;
  top: -24px;
  left: 0;
}

.buttons {
  position: absolute;
  display: flex;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%) rotate(-90deg); 
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-elements);
  font-family: 'OpenSansBold';
  font-size: 1rem;
}

.buttons button span {
  transition: background 0.3s ease, border-color 0.3s ease;
}

.copyright {
  position: absolute;
  bottom: -24px; 
  left: 0; 
}

.email {
  position: absolute;
  top: -24px; 
  right: 0px; 
}

.button-ligth, .button-dark {
  background: none;
  cursor: pointer;
  border: none;
  display: flex;
  gap: .25rem;
}

.button-ligth span, .button-dark span {
  width: .875rem;
  height: .875rem;
  border: 1px solid var(--color-elements);
}

.button-ligth.active span, .button-dark.active span {
  width: .875rem;
  height: .875rem;
  background: var(--color-elements);
  border: 1px solid var(--color-elements);
}

body {
  background-color: var(--color-background);
  color: var(--color-elements);
}

@media (width < 52.5rem) {
  .container {
    height: calc(100dvh - 44px);
    margin: 20px;
  }

  .linkdin {
    position: absolute;
    font-size: .875rem;
    top: -20px;
    left: 0;
  }
  
  .buttons {
    position: absolute;
    font-size: .875rem;
    display: flex;
    top: 50%;
    left: -12px;
    transform: translate(-50%, -50%) rotate(-90deg); 
  }
  
  .buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-elements);
    font-family: 'OpenSansBold';
    font-size: .875rem;
  }
  
  .copyright {
    position: absolute;
    bottom: -20px; 
    font-size: .875rem;
    left: 0; 
  }
  
  .email {
    position: absolute;
    top: -20px; 
    font-size: .875rem;
    right: 0px; 
  }
  
  .button-ligth, .button-dark {
    background: none;
    border: none;
    display: flex;
    gap: .25rem;
  }
  
  .button-ligth span, .button-dark span {
    width: .875rem;
    height: .875rem;
    border: 1px solid var(--color-elements);
  
  }
}

@media(width < 37.5rem) {
  .email {
    display: none;
  }
}

/* @media (prefers-color-scheme: dark) {
  body {
    --color-background: #000;
    --color-elements: #fff;
  }
} */